
body{
   opacity: 0.8;
   background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
   background-size: 10px 10px;
   font-family: "JetBrains Mono", monospace;
   color:#000000

}



.card{
    background-color:#ffffff;
    border-radius:2px;
    padding:20px;
    height:95vh;
    width:130vh;
    margin:auto;
    flex: content;
}

.row{
    display:flex;
    justify-content:space-between;
    padding:10vh;
    margin-top:-10vh;
}

.X-note{
    margin-bottom:-5.0vh;
}

.transactiontext{
    margin-top:-5vh;
    margin-left:5vh;
    font-size:20px;
    color: #8085e5;
}

ul li span{
    position:static;
    display:inline-block;
    border-radius:60%;
    width:40px;
    height:40px;
    font-size:22px;
    color:#8085e5;
    line-height:40px;
    text-align:center;
    cursor:pointer;
}

li{
    margin-left:5vh;
}

ul{
    list-style-type:none;
    padding:0;
    margin:0;
    height:20vh;
    width:40vh;
    overflow-y:auto;
    overflow-x:auto;
}

h3,form{
    margin-left:5vh;
}

.text{
    width:30vh;
    height:1vh;
    border-radius:5px;
    border:1px solid #ccc;
    padding:10px;
    font-size:16px;
    color: #8085e5;
    font-family:"JetBrains Mono", monospace; ;

}
.btn{
    cursor:pointer;
    background-color:#8085e5;
    color:#fff;
    border:none;
    border-radius:2px;
    padding:10px 20px;
    font-size:16px;
    margin-top:10px;
    font-family:"JetBrains Mono", monospace; ;
}
.btn:hover{
    background-color:#303edc;
}
h1{
    color:#8085e5;
    
}

footer {
  background: #8085e5;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9em;
  border-top: solid #8085e5;
  padding-top: 5px;
  padding-bottom:5px;
}

